/* 
  Name                : Christy Varghese
  Student id          : 1082636
  Fanshawe MailID     : c_varghese161701@fanshaweonline.ca
  Course Name         : INFO 6122 Programming Javascript
  Professor           : Sumit Shrestha
  Date of Submission  : August 14th, 2022
  Final Project  
*/

body {
    background-color: #97edf3;
}


/* Clear button */

#clear-button:hover {
    background-color: #0b373a;
    color: #ccc;
}


/* Input Button */

input {
    width: 75%;
    padding: 20px;
    display: inline-block;
    border: 1px solid rgb(250, 250, 250);
    box-sizing: border-box;
}

td {
    border: 1px solid #999;
}

#SpreadsheetTable td:not(:first-child) {
    width: 10%;
}

#SpreadsheetTable td {
    background-color: #ffffff;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}